* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: monospace;
}

body {
    background-color: #05445e;
}

h1 {
    background-color: black;
    color: white;
    text-align: center;
    padding: 14px;;
    border: solid black 2px;
}

.sanji {
    width: 907px;
    height: auto;
    margin-top: 70px;
    margin-right: auto;
    margin-left: auto;
}

.link-container {
    width: 1100px;
    padding: 14px;
    margin: 200px auto;
}

img {
    height: 200px;
    width: 100%;
}

.img-container1, .img-container2, .img-container3 {
    display: inline-block;
    background-color: white;
    height: auto;
    width: 300px;
    border: solid black 2px;
    margin-left: 38px;
}

/* Baby Back Ribs */
.main-content-container {
    margin-top: 7px;
    border: 2px solid white;
    border-radius: 35px;
    width: 600px;
    background-color: white;
    /* Center element */
    margin-left: auto;
    margin-right: auto;
}

.bbr, .description,  .ingredients, .steps{

    width: 450px;
    height: auto;
    margin: 21px auto;
}

h2 {
    margin-bottom: 7px;
}

.home-link {
    padding: 10px;
    border: 2px solid black;
    width: 100px;
    height: auto;
    margin: 7px auto;
}




