* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #05445e;
}

h1 {
    background-color: black;
    color: white;
    text-align: center;
    padding: 7px;;
    border: solid black 2px;
}



