/* Homepage Section */
body {
    background-color: #FFFEF0;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Header */
.homepage-header {
    background-color: black;
    color: white;
    border: black solid 1px;
    text-align: center;
    height: 70px;
}

.hp-list-link {
    list-style-type: square;
}

/* Create vertical space between links */
.hp-link {
    margin-bottom: 10px;
}

/* Remove underline and change link default color */
a {
    text-decoration: none;
    color: black;
}